
#navibar {
    margin-top: -50px;
    border-radius: 0px;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

#head_img {
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 50px;
}

.blog_list {
    position: relative;
}

.blog_content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.blog_bottom {
    margin-top: 15px;
}

.blog_list .blog_bottom_item {
    margin-right: 15px;
}

#head_img img {
    width: 100%;
    height: 100%;
}

.pagination li a {
    background-color: rgba(34, 34, 34, 0.9);
    color: #dddddd;
    border-color: #444444;
    font-size: 1rem;
    font-size: 14px;
}

.pagination li a:hover {
    background-color: #666666;
    border: none;
    color: #ffffff;
}

.pagination > .active > a {
    color: #aaa;
    cursor: default;
    border-color: #444444;
    background-color: rgba(85, 85, 85, 0.9);
}

.pagination > .active > a:hover {
    color: #aaa;
    background-color: #555555;
}

#right_column {
    width: 100%;
    float: right;
}

.right_hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
    border-top: 2px solid #555;
}

#latest {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0.3em 1em 0.5em 0.5em;
}

#latest h4 {
    text-align: left;
    vertical-align: middle;
    margin-left: 0.5em;

}

#latest ol li {
    font-size: 0.875rem;
    font-size: 14px;
    text-align: left;

}

#latest ol {
    position: relative;
}

#tags {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0.3em 1em 0.5em 0.5em;
    margin-top: 1em;
    text-align: center;
}

#tags h4 {
    text-align: left;
    font-size: 1rem;
    font-size: 16px;
    vertical-align: middle;
    margin-left: 0.5em;

}

#tag span {
    font-weight: normal;
    font-size: 0.625rem;
    font-size: 12px;
    line-height: 2.5em;
    text-align: center;
}

#tag span:active {
    cursor: pointer;
    border: 1px;
}

#blog_collapse {
    float: right;
}

#tag span:visited {
    cursor: pointer;
}

#tag {
    position: relative;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li {
    margin-bottom: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #eee;
    cursor: default;
    background-color: rgba(34, 34, 34, 0.9);
    border-color: #333;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    color: #dddddd;
    background-color: rgba(51, 51, 51, 0.9);

}

.nav-tabs > li > a:visited {
    background: transparent;
    border: none;
}

.nav-tabs > li > a:hover {
    background-color: #333;
    border: 1px solid #222;
}

.nav-tabs > li > a:active {
    background: transparent;
    border: none;
}

.blog_list {
    width: 100%;
    padding: 16px 16px 10px 16px;
    background-color: #FFFFFF;
    margin-bottom: 1em;
    vertical-align: middle;

}

.blog_list .blog_tag {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 0.875rem;
    font-size: 14px;
    font-weight: normal;
    border-radius: 0;
}

.blog_img {
    float: right;
    height: 100%;
    overflow: hidden;

}

.blog_img img {
    width: 100%;
    vertical-align: middle;

}

#latest ol li {
    padding-bottom: 0.3rem;
}

/*}*/