{% import 'component.html' as com %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block seo %}
        <meta name="description" content="易顺鑫shekinah1995的个人博客网站"/>
        <meta name="keywords" content="易顺鑫,shekinah1995,python程序员"/>
    {% endblock %}
    <meta name="robots" content="index,follow"/>
    <meta name="author" content="shekinah1995"/>
    <meta http-equiv="content-Type" content="text/html;charset=utf8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="baidu-site-verification" content="lplLbq63Lo"/>
    {{ com.render_css() }}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
{% include "header.html" %}
<div class="container index">
    <div class="row">
        <div class="col-lg-12 col-md-10 col-sm-12 hidden-xs remove_padding">
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                {#        <ol class="carousel-indicators">#}
                {#            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
                {#            <li data-target="#myCarousel" data-slide-to="1"></li>#}
                {#            <li data-target="#myCarousel" data-slide-to="2"></li>#}
                {#        </ol>#}
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/img/banner.jpg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="/static/img/banner.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="/static/img/banner.jpg" alt="Third slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel"
                   data-slide="prev">&lsaquo;
                </a>
                <a class="carousel-control right" href="#myCarousel"
                   data-slide="next">&rsaquo;
                </a>
                {% block navibar %}
                    <nav class="navbar navbar-inverse" role="navigation" id="navibar">
                        <ul class="nav navbar-nav">
                            <li><a href="/">首页</a></li>
                            <li><a href="/paper">技术仓库</a></li>
                            <li><a href="/essay">生活随笔</a></li>
                            <li><a href="/photos">相册</a></li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 remove_padding">
            <div id="timeline">
                {% block blog_list %}
                {% endblock %}
                {% block pagenation %}
                {% endblock %}
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 remove_padding">
            <div id="right_column">
                <div class="context_block" id="latest">
                    <h4><span class="glyphicon glyphicon-time"></span>&nbsp;最近文章</h4>
                    <hr class="right_hr"/>
                    <ol>
                        {% block lastest_blog %}
                        {% endblock %}
                    </ol>
                </div>
                <div id="tags">
                    <h4><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;标签</h4>
                    <hr class="right_hr"/>
                    <div id="tag"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-10 col-sm-12 hidden-xs remove_padding">
            {% include "footer.html" %}
        </div>
    </div>
</div>
<div id="return_top" class="hidden-sm hidden-xs"><a href="#"><img src="/static/img/return_top.png"/></a>
</div>
{{ com.render_js() }}
</body>
</html>