{% extends "base.html" %}

{% block title %}shekinah1995_个人博客_文章列表{% endblock %}

{% block seo %}
    <meta name="description"
          content="易顺鑫shekinah1995的个人博客"/>
    <meta name="keywords" content="易顺鑫,shekinah1995,python程序员"/>
{% endblock %}



{#{% block navibar %}#}
{#    <nav class="navbar navbar-inverse" role="navigation" id="navibar">#}
{#        <div>#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active"><a href="/">首页</a></li>#}
{#                <li><a href="/paper">技术仓库</a></li>#}
{#                <li><a href="/essay">生活随笔</a></li>#}
{#                <li><a href="/photos">相册</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}
{#{% endblock %}#}

{% block title_list %}


    {% for paper in paper_list %}
        {% include "list_style.html" %}

    {% else %}
        <h3>这里空空的，过几天再来看看吧！</h3>
    {% endfor %}





    <ul class="pagination">
        {% if pager.has_pre %}
            <li><a href="?curr_page={{ pager.page-1 }}">&laquo;</a></li>
        {% else %}
            <li class="active"><a>&laquo;</a></li>
        {% endif %}
        {% for num in pager.nums %}
            {% if num == pager.page %}
                <li class="active"><a>{{ num }}</a></li>
            {% else %}
                <li><a href="?curr_page={{ num }}" title="第{{ num }}页">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if pager.has_next %}
            <li><a href="?curr_page={{ pager.page+1 }}">&raquo;</a></li>
        {% else %}
            <li class="active"><a>&raquo;</a></li>
        {% endif %}
    </ul>


{% endblock %}


{% block lastest_blog %}
    {% for paper in last_paper %}
        <li><a href="/paper/detail/{{ paper.paper_id }}">{{ paper.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block tags %}
    <h5>
    </h5>
{% endblock %}