{% extends "base.html" %}
{% import 'component.html' as com %}

{% block title %}shekinah1995_个人博客_文章列表{% endblock %}

{% block seo %}
    <meta name="description"
          content="易顺鑫shekinah1995的个人博客"/>
    <meta name="keywords" content="易顺鑫,shekinah1995,python程序员"/>
{% endblock %}

{% block blog_list %}
    {{ com.blog_list(paper_list) }}
{% endblock %}
{% block pagenation %}
    {{ com.pagenation(pager) }}
{% endblock %}

{% block lastest_blog %}
    {{ com.last_blog(last_paper) }}
{% endblock %}